
/* header elements*/
html{
    height: 100%;
    width: 100%;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

body{
    height: 100%;
    width: 100%;
    background-color: #14021a;
    font-family: 'Nunito';
}




/* landing page elements*/
.navbar{ 
    box-shadow: none;
}

.nav-link{
    color: #ffffff;
    font-weight: 600;
    margin-right: 10px;
}


.nav-link:hover{
    color: #b1faff ;
}

.btn-signin{
    background:linear-gradient(135deg, #a155dc 0%,#3a2bf7 100%);
    color: #ffffff;
    font-family: 'Poppins';
}

.btn-signin:hover{
    color: #ffffff;
}

.img-land{
    padding-top: 50px;
}

.main-land{
    padding-top: 140px;
    color: #ffffff;
    font-weight: 800;
    font-size: 40px;
    font-family: 'Poppins';
}

.sub-land{
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Poppins';
    padding-top: 20px;
}

.btn-start{
    background:linear-gradient(135deg, #a155dc 0%,#3a2bf7 100%);
    color: #ffffff;
    font-family: 'Poppins';
    margin-left: 0px;
    margin-top: 20px;
}

.btn-start:hover{
    color: #ffffff;
}