{% extends 'baseoperations.html' %}


{% block title %}
About
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col">
            <div class="row about-top-row">
                <div class="col-md-3">
                    <div class="card about-card">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 30px; text-align: center; color: #3aa0ff;"><i
                                    class="fa fa-twitter" aria-hidden="true"></i></h5>
                            <p class="card-text" style="text-align: center; color: #000000;">Your 240 character tweets
                                are important.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card about-card">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 30px; text-align: center; color: #3a47ff;"> <i
                                    class="fa fa-globe" aria-hidden="true"></i> </h5>
                            <p class="card-text" style="text-align: center; color: #000000;">Short links to you website
                                are important.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card about-card">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 30px; text-align: center; color: #373947;"><i
                                    class="fa fa-database" aria-hidden="true"></i></h5>
                            <p class="card-text" style="text-align: center; color: #000000;">Your storage is important.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card about-card">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 30px; text-align: center; color: #d608ff;"><i
                                    class="fas fa-smile-beam "></i></h5>
                            <p class="card-text" style="text-align: center; color: #000000;">Your experience with
                                internet is important.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div
        style="height: 4px; width: 200px; margin-left: auto; margin-right: auto; margin-top: 30px; margin-bottom: 20px; background-color: #AB3DFA;">
    </div>
    <div class="slit-imp">Slit understands the importance of the things, important to you.</div>
    <div class="slit-imp-sec">That's all about us.</div>
</div>
{% endblock %}