{% extends 'baseoperations.html' %}

{% block title %}
404
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col">
            <p style="text-align: center;"><img src="/static/img/404_page_not_found_.png" class="img-fluid" alt="" style="padding-top: 20px; width: 60%;" ></p>
            <div class="message-404">
                Hey! we're lost. 😱
            </div>
            <div class="message-404-sub">
                Don't worry, here is <a href="/" style="color: aqua;"><i class="fa fa-home" aria-hidden="true"></i> home</a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}